<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <div class="header">
    <ion-icon name="images-outline" size="large"></ion-icon>
    <ion-label>Gallery</ion-label>
  </div>
  <div class="gridContainer">
    <ion-grid>
      <ion-row  *ngFor="let photo of photos">
        <ion-col size="6">
          <img [src]="photo?.mediumImageUrl">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
