.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

ion-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

ion-row {
  display: flex;
  justify-content: center;
  width: 48vw;
}

ion-icon {
  margin-left: 6%;
}

ion-label {
  font-size: 1.5rem;
}

img {
  border: 2px solid black;
}


