<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"> </ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [src]="event?.eventImageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{event?.title}}</h1>
        <p>{{event?.location}}</p>
        <small>{{event?.addressLine1}}</small>
      </ion-label>

      <div class="calendar contents" slot="end">
        <div class="date">
          <div class="month">{{event?.startDate | date: 'MMM'}}</div>
          <div class="day">{{event?.startDate | date: 'd'}}</div>
          <div class="year">{{event?.startDate | date: 'YYYY'}}</div>
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar class="relative w-full ion-no-padding">
    <ion-img src="assets/img/Paarl mountain.png" class="banner"></ion-img>
    <ion-toolbar class="banner absolute bottom-1.5">
      <ion-buttons slot="end">
        <ion-button color="white">
          <ion-icon slot="icon-only" name="share-social-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2">
    <p>
      What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
    </p>
  </div>
</ion-content>
