<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>About</ion-button>
    </ion-buttons>
    <ion-title>discover</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"> </ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="assets/img/Paarl mountain.png" class="banner"></ion-img>
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="medical"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngFor="let category of categories">
      <ion-col>
        <ion-text>{{category.name}}</ion-text>
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <app-discover-card></app-discover-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
