<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>About</ion-button>
    </ion-buttons>
    <ion-title>discover</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"> </ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/Paarl mountain.png" class="banner"></ion-img>
</ion-content>
