<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>About</ion-button>
    </ion-buttons>
    <ion-title>discover</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative mb-6">
    <ion-grid class="absolute" *ngIf="weather.today | async as today">
      <ion-row>
        <ion-col size="auto">
          <ion-card
            class="ion-no-margin"
            (click)="showWeather()"
            color="primary"
          >
            <ion-item lines="none" color="primary">
              <ion-avatar slot="start">
                <ion-img
                  [src]="'assets/icon/weather/'+today?.weather?.[0]?.icon+'.png'"
                ></ion-img>
              </ion-avatar>
              <ion-label class="text-center">
                <h2 class="!font-bold">
                  {{today?.main?.temp|number: '1.0-0'}}°C
                </h2>
                <p>{{today?.weather?.[0]?.main}}</p>
                <!-- <small>
                  L: {{today?.main?.temp_min|number: '1.0-0'}} - H:
                  {{today?.main?.temp_max|number: '1.0-0'}}
                </small> -->
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
        <ion-icon name="medical"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-img src="assets/img/Paarl mountain.png" class="banner"></ion-img>
    <ion-toolbar class="search absolute -bottom-6">
      <ion-searchbar color="light" class="!pb-0 shadow-md"></ion-searchbar>
    </ion-toolbar>
  </div>

  <div class="px-1" *ngIf="ready">
    <app-discover-grid></app-discover-grid>
  </div>
  <div class="m-2">
    <ion-button expand="block" (click)="showAttractions()"
      >TOP 10 ATTRACTIONS</ion-button
    >
  </div>
  <h5 class="whatsnew w-full text-center">
    <span class="bg-white px-2.5">What's New</span>
  </h5>
  <ion-grid>
    <ion-row>
      <ion-col>
        <swiper [slidesPerView]="1.2">
          <ng-template
            swiperSlide
            *ngFor="let blog of blogQuery.selectAll() | async as blogs"
          >
            <ion-card class="my-0 mx-1 w-full">
              <ion-item lines="none" color="primary">
                <ion-avatar slot="start">
                  <ion-img [src]="blog.publishedByImageUrl"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{blog.subject}}</h2>
                  <p>{{blog.publishedBy}}</p>
                  <small>{{blog.publishText}}</small>
                </ion-label>
              </ion-item>
            </ion-card>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
