ion-label h1 {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.gridContainer {
  display: flex;
  margin: 0 3.5%;
}

ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 20vh;
  text-align: center;
  margin: 0 -3%;
}

ion-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ion-label h2 {
  font-size: 1.5rem;
}

.callBtn {
  border-radius: 50px;
  color: white;
  background-color: rgb(207, 2, 2);
  padding: 8%;
  margin: 5% 0;
}


