ion-title {
  text-align: center;
}

ion-label h2 {
  display: flex;
  justify-content: center;
  margin: 7% 0;
}

.gridContainer {
  display: flex;
  justify-content: center;
  margin-left: 2.5%;
}

ion-grid {
  width: 120px;
}

ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16vh;
  text-align: center;
  margin: 0 -4%;
  padding-top: 12%;
}

.emergency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 10px;
}

ion-label h1 {
  font-size: 1.5rem;
}

.callBtn {
  border-radius: 50px;
  color: white;
  background-color: rgb(207, 2, 2);
  padding: 5%;
  margin: 1% 0;
}

.two{
  border-bottom: 1px solid black;
}


