<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>SOS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h2>Select a category:</h2>
  </ion-label>
  <div class="gridContainer">
    <div class="sosGrid" *ngFor="let group of groups; let g = index">
      <ion-grid>
        <ion-row *ngFor="let item of group; let i = index"
        class="p-0 border-0 border-r border-black border-solid" [ngClass]="{ 'border-r-0': g === 1 }">
          <ion-col (click)="goTo(item.title)"
          [ngClass]="{ 'border-0 border-b border-black border-solid': !i }">
            <ion-icon [name]="item.icon" size="large"></ion-icon>
            <p>{{ item.title }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="emergency">
    <ion-label>
      <h1 class="ion-text-uppercase font-bold">Emergency response</h1>
    </ion-label>
    <ion-label>
      <h4>Call 112 (FREE)</h4>
    </ion-label>
    <div class="callBtn" color="danger">
      <ion-icon class="phone" name="call" size="large" (click)="call(112)"></ion-icon>
    </div>
  </div>
</ion-content>
