.banner {
  --background: transparent;
}


.about {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.image {
  width: 100%;
}

ion-title {
  display: flex;
  align-self: center;
  justify-content: center;
}

// .button {
//   background-color: #174060;
//   border-radius: 50px;
// }
