img {
  width: 400px;
  height: 190.18px;
  // border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
}

ion-item{
  // width: 400px;
  // height: 40px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
}

.header{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #727171;
  margin: 10px;
  // margin-top: 20px;
}
ion-chip{
  background: #C4C4C4;
  margin-left:10px;
  // width: 105px;
  // height: 37px;
  color: black;
}

.chip_label{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: black;
}
